*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .2);
}

img{
  width: 100%;
  height: 100%;
}

.d-flex{
  display: flex;
}

.f-wrap{
  flex-wrap: wrap;
}

.column-direction{
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.btn{
  border: none;
  border-radius: 20px;
  padding: 10px 60px;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  background-color: #0084fc;
}

.btn-violet{
  margin: 40px 0;
  border-radius: 50%;
  padding: 15px;
  font-size: .9rem;
  color: black;
  background-color: #9792e4;
}

.btn-white{
  border-radius: 20px;
  padding: 15px 80px;
  color: #9792e4;
  background-color: white;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.h-50{
  height: 50%;
}

.m-20{
  margin: 20px 0;
}

.m-30{
  margin: 30px 0;
}

.m-40{
  margin: 40px 0;
}

.m-50{
  margin: 50px 0;
}

.m-70{
  margin: 70px 0;
}

.mt-30{
  margin-top: 30px;
}

.mr-10{
  margin-right: 10px;
}

.mt-50{
  margin-top: 50px;
}

.mt-80{
  margin-top: 80px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-70{
  margin-bottom: 70px;
}

.mb-80{
  margin-bottom: 80px;
}

.br-10{
  border-radius: 10px;
}

.p-10{
  padding: 10px;
}

.p-30{
  padding: 30px;
}

.p-40{
  padding: 40px;
}

.background-white{
  background-color: #fff;
}

.background-blue{
  background-color: #0084fc;
}


/* header */
header .logo{
  width: 50px;
}
/* /header */


/* main */
/* into */
#intro .row .col h2{
  color: #0084fc;
}

#intro .row .col .card{
  padding: 40px;
  text-align: center;
  font-size: 1.3rem;
  background-color: #b5dcfe;
}

#intro .row .col .card .card-top i{
  width: 100%;
  height: 100%;
  font-size: 6rem;
}
/* /intro */


/* planning */
#planning{
  background-color: #9792e4;
}

#planning .row .col .card{
  border-radius: 20px;
  font-size: 1.3rem;
  color: white;
}

#planning .row .col:last-child .card{
  color: black;
  background-color: white;
}
/* /planning */


/* testimonials */
#testimonials h2{
  font-size: 2rem;
  color: #9792e4
}

#testimonials p{
  font-size: 1.3rem;
}

#testimonials .row{
  color: white;
  background-color: #9792e4;
}

#testimonials .row .col{
  padding: 15px;
}

#testimonials .row .col .card{
  border-radius: 20px;
}

#testimonials .row .col .card .card-top{
  width: 200px;
  height: 200px;
}

#testimonials .row .col .card .card-top img{
  border-radius: 50%;
}
/* /testimonials */


/* benefits */
#benefits{
  padding-top: 80px;
  background-color: #9792e4;
}

#benefits h2{
  color: white;
  font-size: 2.3rem;
}

#benefits .row .col .card{
  border-radius: 20px;
  padding: 15px;
  background-color: white;
}

#benefits .row .col .card .card-top span{
  font-size: 3rem;
  color: #9792e4;
}

#benefits .row .col .card p:first-of-type{
  font-size: 1.3rem;
  color: #9792e4;
}

#benefits .row .col .card .btn-violet{
  border-radius: 20px;
  padding: 10px 60px;
  color: white;
}
/* /benefits */


/* about */
#about .row .col h2{
  color: #9792e4;
}

#about .row .col .card .card-top{
  width: 150px;
}

#about .row .col .card .card-top img{
  border-radius: 50%;
}

#about .row .col .card p{
  font-size: 2.3rem;
  color: #9792e4;
}

#about .row .col .card .btn-violet{
  margin: 0;
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
}

#about .row .col .card .btn-violet i{
  margin-right: 10px;
}
/* /about */


/* cta */
#cta{
  padding: 50px 0;
  color: white;
  background-color: #9792e4;
}

#cta h2{
  font-size: 2.3rem;
}

#cta h2:last-of-type{
  color: orange;
}

#cta i{
  margin: 0 10px;
  font-size: .6rem;
}
/* /cta */
/* /main */


/* footer */
footer{
  padding: 50px 0;
  background-color: #333333;
}
/* /footer */


/* media */
@media screen and (min-width: 576px) {
  #intro .row .col{
    width: calc(100% / 3);
    flex-direction: row;
  }

  #intro .row .col:first-child{
    width: calc(100% - 100% / 3);
  }

  #intro .row .col .card{
    font-size: .9rem;
  }

  #intro .row .col .card h2{
    font-size: 1rem;
  }

  #intro .row .col .card .btn{
    font-size: .9rem;
  }

  #intro .row .col .card .card-top i{
    font-size: 4rem;
  }

  #testimonials .row .col:first-child{
    width: 30%;
  }

  #testimonials .row .col{
    width: 70%;
  }

  #benefits .row .col{
    width: 50%;
  }

  #about .row .col:first-child{
    width: calc(100% - 100% / 3);
  }

  #about .row .col{
    width: calc(100% / 3);
  }

  #about .row .col .card p{
    font-size: 1rem;
  }

  #about .row .col .card .btn-violet{
    font-size: .7rem;
  }
}

@media screen and (min-width:  992px){
  .container{
    width: 80%;
  }

  #planning .row .col{
    width: 50%;
  }

  #benefits .row .col{
    width: calc(100% / 3);
  }
}
/* /media */