*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .2);
}

.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.w-33{
  width: calc(100% / 3);
}

.w-40{
  width: 40%;
}

.w-50{
  width: 50%;
}

.w-60{
  width: 60%;
}

.w-100{
  width: 100%;
}

.mt-40{
  margin-top: 40px;
}

.mb-40{
  margin-bottom: 40px;
}

.br-10{
  border-radius: 10px;
}

.p-10{
  padding: 10px;
}

.background-white{
  background-color: #fff;
}


/* main */
#intro .row{
  height: 200px;
}
/* /main */